---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import retro1 from "../components/Img/45B.jpg";
import exc2 from "../components/Img/916.jpg";
import exc3 from "../components/Img/711.jpg";
import exc4 from "../components/Img/926 (1).jpg";
import idnd from "../components/Img/IMAGEN NO DISPONIBLE.jpg"
import exc5 from "../components/Img/928.jpg"
import exc6 from "../components/Img/950.jpg"
import exc7 from "../components/Img/966.jpg"
import exc8 from "../components/Img/936.jpg"
import exc9 from "../components/Img/980.jpg"
import exc10 from "../components/Img/WA250KOMATSU.jpg"
---
<head>
  <link rel="stylesheet" href="/src/styles/global.css">
  <meta charset="UTF-8">
</head>
<Layout></Layout>

<main class="w-full">
   
    <div class="w-full h-20 bg-sky-900"><p>d</p>.</div>

    <section class="text-gray-600 body-font">
        <div class="mt-5 ml-5"> <a href="/maquinaria" class="px-8 py-3 bg-sky-800 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-sky-950 shadow-xl text-md ease-in-out">
            <i class="fa-solid fa-arrow-left"></i>
          </a></div>
        <div class="w-full mt-10 flex justify-center items-center flex-col">
            <h1 class="text-4xl mb-5 font-bold">Cargadores</h1> 
           
            <div class=" w-10/12 h-1 bg-amber-300"></div>
            <div class="w-10/12">
             <p class="text-center  ">Los cargadores de ruedas Cat® permiten que los trabajos de manipulación de materiales y de carga sean
                más seguros, rápidos, precisos y rentables. Los cargadores delanteros Cat fijan el estándar en cuanto a
                confiabilidad, productividad, eficiencia del combustible, versatilidad y comodidad del operador.</p></div>
            </div>
           
        <div class="container px-5 py-10 mx-auto">
          <div class="flex flex-wrap -m-4">
            


            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={retro1.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 45B</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="./404.html" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              
              


            
              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc3.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 75-III-A</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="./404.html" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc2.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 916</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/pfp8ddp1s1ygpxi547pwq/916.pdf?rlkey=0n9k30lzu48thr5lznplz8uwz&dl=0" download class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>



          </div>
        </div>
      </section>

      <section class="text-gray-600 body-font">
        <div class="container px-5 pb-10 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc4.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 926</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/tslfgqo3rzkbfe1ax8xqi/926.pdf?rlkey=6kup5w2c37fay8ffe4m6fhy12&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc5.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 928</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/xqqo1ukrkz3qzew9fl2t9/928.pdf?rlkey=24ntdpgq6clbdapljhg3jfe72&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc6.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 950</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/wmt3zjx3ykchabbv19w91/950.pdf?rlkey=xl594ce86fkx8xve0de56hzu3&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc7.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 966</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/e8kzx60ho4hjmyp957v3m/966.pdf?rlkey=4jlgmz05r22dpar2ii2umu4fp&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc8.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 936</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/fkwa6g3y39o4j160ydp94/936.pdf?rlkey=cuprg9x726xuzqd44tx3oh60b&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc9.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">Cargadora 980</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/eawio6kw9t3h8nmfch4lq/980.pdf?rlkey=sz47p320whizfgimpr2tymttu&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
                  <img class="w-full" style="width: 267px; height: 400px; margin: 0 auto;" src={exc10.src} alt="Excabadora 1">
                  <div class="p-6">
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-8">WA250 KOMATSU</h1>
                    <div class="w-full flex justify-center items-center">
                      <a href="https://www.dropbox.com/scl/fi/61npzrfdunmrg4kemsl9i/WA250-KOMATSU.pdf?rlkey=lqigxipk9dft7394zkwg37fkq&dl=0" class="px-20 py-5 bg-amber-300 text-white rounded-lg hover:shadow-2xl hover:-translate-y-2 transition-transform duration-300 hover:bg-amber-400 shadow-xl text-md ease-in-out">
                        Ver Detalles <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>



          </div>
        </div>
      </section>


        
    
   
    </div>
</main>


<Footer></Footer>

<script>
  function openInNewTab(url) {
      var win = window.open(url, '_blank');
      win.focus();
  }
</script>